<h2>Name of the cat: <%= @k.name %></h2>
<h2>Age of the cat: <%= @k.age %></h2>
<h2>Cuteness of the cat: <%= @k.cuteness %></h2>
<h2>Softness of the cat: : <%= @k.softness %></h2>

<%= link_to 'Back', root_path%>
